<html>
    <head>
        <title>Manage Me</title>
        <style>
        body{background-color: thistle;
          font-family: system ;
        color: black; font-size: 24}
        h1 {color: white}
        input[type="text"] {
      width: 200px; height: 25px
  }
  input[type="date"] {
  width: 200px; height: 25px
  }
  input[type="time"] {
  width: 200px; height: 25px
  }
        </style>
    </head>
    <body>
      <h1>Delete One Event</h1>
      <h3>Choose which event you would like to delete: </h3>
      <form method = "post", action = "/delete">
          <!-- create a for loop with jinja templating using the list of events -->
          {% for event in events %}
            <!-- make a list item (bullet point) -->
            <!-- for each event, display the event name and date -->
            <input type = "radio" name = "_id" value = {{event._id}}>{{ event.event_name }} - {{ event.event_date }} - {{event.category}}</input><br>
            <!-- end for loop using jinja templating -->
          {% endfor %}
          <input type = "submit" value = "submit"></input>
          <button><a href="/index"> Back </a></button> <br>

        <!-- end unordered list -->
      </form>
    </body>
</html>
      <!-- <div class="event-list">
          {% for event in events %}
            <input type = "radio" name = "delete_1" value = {{ event._id }}>{{ event.events }} - {{ event.event_name }} - {{ event.event_date }} - {{ event.event_time }} - {{ event.category }} - <button><a href="/deleteall"> clear </a></button> <br></li>
          {% endfor %}
          <form method = "post" action = "/results"> -->
      <!-- </div> -->
