<html>
    <head>
        <title>Manage Me</title>
        <style>
        body{background-color: thistle;
          font-family: system ;
        color: black; font-size: 24}
        h1 {color: white}
        </style>
    </head>
    <body>
      <h3>Choose which item you would like to delete: </h3>
      <form method = "post", action = "/deleteitem">
          <!-- create a for loop with jinja templating using the list of events -->
          {% for item in items %}
            <!-- make a list item (bullet point) -->
            <!-- for each event, display the event name and date -->
            <input type = "radio" name = "_id" value = {{item._id}}>{{ item.item_name }} - {{ item.item_location }}</input><br>
            <!-- end for loop using jinja templating -->
          {% endfor %}
          <input type = "submit" value = "submit"></input>
          <button><a href="/index"> Back </a></button> <br>

        <!-- end unordered list -->
      </form>
    </body>
</html>
