<html>
    <head>
        <title>Manage Me</title>
    </head>
    <body>
      <style>
      body{background-color: thistle;text-align: rightcenter;
      color: black}

      h1 {color: white}


      </style>
      <h1>Welcome to Manage Me</h1>
      {% if session %}
      <p> You are logged in as {{session['username']}}. Choose which category you would like to access:</p>
      <ul><p><a href ="/myevents">My Events</a></p>
      <p><a href ="/eventfilter">Filter Events</a></p>
      <p><a href ="/deleteaccount">Delete Account</a></p>
      <p><a href ="/myitems">My Items</a></p>
      <p><a href ="/itemfilter">Filter Items</a></p>
      {% endif %}
      <div class="event-list">
{% if session %}
  <p><a href= "/logout">Logout</a></p>
{% else %}
<h2> Log In:</h2>
      <form method = "POST" action = "/login">
        <p>User Email Address:</p>
        <input type = "text" name = "email"/>
        <br>
        <p>User Password:</p>
        <input type = "password" name = "password"/>
        <br>
        <input type ="submit" value = "Log In"/>
      </form>
      <p> Don't have an account? <a href="/signup">Sign up.</a></p>
      {% endif %}
</html>
