
<html>
    <head>
        <title>ManageMe ... Items</title>
        <style>
        body{background-image: linear-gradient(purple, lavender);
          font-family: system ;
        color: black; font-size: 24}
        h1 {color: white}
        input[type="text"] {
      width: 200px; height: 25px
  }
  input[type="date"] {
  width: 200px; height: 25px
  }
  input[type="time"] {
  width: 200px; height: 25px
  }
        </style>
    </head>
    <body>
      <h1>Filter Items</h1>
      <div class="event-list">
        <ul>
          {% for item in items %}
            <li>{{ item.item_name }} - {{ item.item_location }}</li>
          {% endfor %}
    <!-- set up a form with a post method and results action -->
    <!-- need event_name and event_date using two text input (bonus- use date) -->
    <!-- need submit button -->
    <form method = "post" action = "/Filterbyitemname" >
    <p> Type the name of the item. </p>
    <input type = "text" name = "item_name" <br>
      <input type ="submit" value = "submit"/>
    </form>
    </form>
    <form method = "post" action = "/Filterbylocation" >
    <p> Select the location you want to see items in. </p>
    <input type = "text" name = "item_location"<br>
      <input type ="submit" value = "submit"/>
      <br>
      <br>
      <button><a href="/index"> Back </a></button>
    </form>
        </ul>
      </div>
    </body>
</html>
