<html>
    <head>
        <title>Manage Me</title>
        <style>
        body{background-color: thistle;
          font-family: system ;
        color: black; font-size: 24}
        h1 {color: white}
        input[type="text"] {
      width: 200px; height: 25px
  }
  input[type="date"] {
  width: 200px; height: 25px
  }
  input[type="time"] {
  width: 200px; height: 25px
  }
        </style>
    </head>
    <body>
      <h1>Sign Up</h1>
  <form method = "POST" action = "/login">
    <p>User Email Address:</p>
    <input type = "text" name = "email"/>
    <br>
    <p>User Password:</p>
    <input type = "password" name = "password"/>
    <br>
    <br>
    <input type ="submit" value = "Log In"/>
      </div>
    </body>
</html>
