<html>
    <head>
        <title>Manage Me</title>
        <style>
        body{background-image: linear-gradient(pink, purple);
          font-family: system ;
        color: black; font-size: 22; margin: 0 auto;}
        h1 {color: white}
        h4 {font-size: 22}
        input[type="text"] {
      width: 200px; height: 25px
    }
    input[type="date"] {
    width: 200px; height: 25px
    }
    input[type="time"] {
    width: 200px; height: 25px
    }
    input[type="password"] {
    width: 200px; height: 25px
    }
        </style>
    </head>
    <body>
      <h1>Sign Up</h1>
  <form method = "POST" action = "/signup">
    <p>User Email Address:</p>
    <input type = "text" name = "email"/>
    <br>
    <p>Username:</p>
    <input type = "text" name = "username"/>
    <br>
    <p>User Password:</p>
    <input type = "password" name = "password"/>
    <br>
    <p> Family Member Email: </p>
    <input type = "text" name = "FamilyMemberemail"/>
    <br>
    <br>
    <input type ="submit" value = "Sign UP"/>
      </div>
    </body>
</html>
